.body {
    caret-color: transparent;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
    overflow-x: scroll;
    max-width: 1440px;
    background-color: rgb(129, 180, 127);
    background-image: url('../assets/icons/logo.svg');
    background-size: 50%;
    background-repeat: repeat;
  }
