.headerContainer {
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
   padding: 0;
   box-shadow: 5px 5px 20px 10px rgba(97, 122, 125, 0.5);
   background-color: var(--background-basic);

   & .header {
      display: flex;
      justify-content: center;
      align-items: center;

      & h1 {
         font-size: 2rem;
         color: #f1df17;
         text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
         animation: glow 1.5s infinite alternate;
         padding-top: 16px;
         padding-bottom: 16px;
         }
    }

     & .burger {
         position: absolute;
         left: 10px;
         background: transparent;
         }

      & .burger::before,
      & .burger::after {
         content: '';
         left: 0;
         position: absolute;
         display: block;
         width: 50%;
         height: 5px;
         border-radius: 10px;
         background: #26e511;
         }

      & .burger::before {
         top: 0;
         box-shadow: 0 11px 0 #26e511;
         }

       & .burger::after {
         bottom: 0;
         }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}
